.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    background-color: #f2f2f2;
    min-width: 500px;
    position: relative;
    padding-left: 64px;
    overflow: hidden;
  }
  
  .header:last-child {
    margin: 0;
  }
  