.two-columns { /*общий блок*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 0;
  }
  